@font-face {
  font-family: "Retro Gaming";
  src: url("../public/police/Retro Gaming.ttf") format("truetype");
  /* Ajoutez d'autres formats de police ici si nécessaire */
}

/* Pour les navigateurs basés sur WebKit */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c; /* Couleur de fond de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #24fe41; /* Couleur de la poignée de la scrollbar */
  border-radius: 6px;
}

body {
  background-image: url("../public/assets/retro_bg.jpg");
  color: #000000;
  font-family: "Retro Gaming", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 900px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #2c2c2c;
  padding: 20px 50px 20px 50px;
}

h1 {
  color: #24fe41;
  font-family: "Retro Gaming", sans-serif;
}

button {
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #343a40;
  color: #f8f9fa;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

button:active {
  background-color: #ffffff;
  color: #343a40;
  border-color: #343a40;
}

button:hover {
  background-color: #00ff84;
  color: #ffffff;
  border-color: #00ff84;
}

button:focus {
  outline: none;
}

button:disabled {
  color: #6c757d;
  cursor: not-allowed;
}

.styleBtn {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  font-size: 2rem;
  border: 1px solid #24fe41;
  border-radius: 5px;
}

.styleBtn:hover {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  font-size: 2rem;
  border: 1px solid #00a2ff;
  border-radius: 5px;
}

.vertical-center {
  text-align: center;
}

h2 {
  color: #24fe41;
}

label {
  color: #24fe41;
}

div {
  color: #24fe41;
  margin-top: 20px;
}

form {
  margin-top: 40px;
  margin-bottom: 80px;
}

.margePlayer {
  margin-right: 20px;
}

.inputPlayer {
  background-color: #343a40;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-bottom: 20px;
}

.inputPlayer::placeholder {
  color: #999999;
}

.margeCheckbox {
  margin-right: 5px;
}

select {
  margin-left: 10px; /* ajustez la valeur de la marge selon vos besoins */
}
